<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinxixi.dao.OrderMapper">
    <resultMap id="OrderMap" type="com.pinxixi.entity.Order">
        <id property="orderId" column="Order_id" />
        <id property="orderNo" column="Order_name" />
        <id property="orderPrice" column="Order_level" />
        <id property="orderStatus" column="parent_id" />
        <id property="paymentStatus" column="Order_sort" />
        <id property="paymentType" column="is_deleted" />
        <id property="paymentTime" column="create_user" />
        <id property="createTime" column="create_time" />
        <id property="updateTime" column="update_time" />
    </resultMap>

    <select id="selectOrder" resultMap="OrderMap">
        SELECT * FROM tb_order WHERE Order_id = #{OrderId}
    </select>

    <select id="selectAll" resultMap="OrderMap">
        SELECT * FROM tb_order WHERE is_deleted = 0
    </select>

    <select id="selectPage" resultMap="OrderMap">
        SELECT * FROM tb_order
        <where>
            is_deleted = 0
            <if test="OrderId != null">
                and Order_id = #{OrderId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insertOrder" parameterType="com.pinxixi.entity.Order">
        INSERT INTO tb_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="orderPrice != null">order_price,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="paymentType != null">payment_type,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="orderPrice != null">#{orderPrice},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="paymentType != null">#{paymentType},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOrder" parameterType="com.pinxixi.entity.Order">
        UPDATE tb_order
        SET <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus},
            </if>
            <if test="paymentStatus != null">
                payment_type = #{paymentType},
            </if>
            <if test="paymentStatus != null">
                payment_time = #{paymentTime},
            </if>
            update_user = #{updateUser}
        WHERE order_id = #{orderId}
    </update>
</mapper>