<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinxixi.dao.OrderMapper">
    <resultMap id="OrderMap" type="com.pinxixi.entity.Order">
        <id property="orderId" column="order_id" />
        <id property="userId" column="user_id" />
        <id property="orderNo" column="order_no" />
        <id property="orderPrice" column="order_price" />
        <id property="orderCoupon" column="order_coupon" />
        <id property="orderStatus" column="order_status" />
        <id property="paymentStatus" column="payment_status" />
        <id property="paymentType" column="payment_type" />
        <id property="paymentTime" column="payment_time" />
        <id property="isDeleted" column="is_deleted" />
        <id property="createTime" column="create_time" />
        <id property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        order_id, order_no, user_id, order_price, order_coupon, order_status, payment_status, payment_type, payment_time, create_time, update_time
    </sql>

    <select id="selectOrderByOrderId" resultMap="OrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_client_order WHERE order_id = #{orderId}
    </select>

    <select id="selectOrderByOrderNo" resultMap="OrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_client_order WHERE order_no = #{orderNo}
    </select>

    <select id="selectOrderAll" resultMap="OrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_client_order WHERE is_deleted = 0
    </select>

    <select id="selectOrderPage" resultMap="OrderMap">
        SELECT * FROM tb_client_order
        <where>
            is_deleted = 0
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insertOrder" parameterType="com.pinxixi.entity.Order">
        INSERT INTO tb_client_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="orderPrice != null">order_price,</if>
            <if test="orderCoupon != null">order_coupon,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="paymentType != null">payment_type,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="orderPrice != null">#{orderPrice},</if>
            <if test="orderCoupon != null">#{orderCoupon},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="paymentType != null">#{paymentType},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOrderByOrderId" parameterType="com.pinxixi.entity.Order">
        UPDATE tb_client_order
        SET <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        WHERE order_id = #{orderId}
    </update>

    <update id="updateOrder" parameterType="com.pinxixi.entity.Order">
        UPDATE tb_client_order
        <set>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="paymentStatus != null">
                payment_status = #{paymentStatus},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType},
            </if>
            <if test="paymentTime != null">
                payment_time = #{paymentTime},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted}
            </if>
        </set>
        WHERE order_id = #{orderId}
    </update>

</mapper>